// Variables
:root {
    --cardStateColor: #{$blue-main};
}
$cardStateColor: var(--cardStateColor);
$alarmPulse__size: -2px;
// Utils
.w-100 {
    width: 100%;
}
.d-flex {
    display: flex;
    &.flex-row {
        flex-direction: row;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.justify-content-between {
        justify-content: space-between;
    }
    &.align-items-center {
        align-items: center;
    }
}
// Custom
.d-none {
    display: none !important;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: $neutral-500;
    font-size: 15px;
    overflow-x: hidden;
    background-color: #F0F0F0;
    &.hasModal {
        overflow-y: hidden;
    }
}
p {
    margin-top: 0;
    font-size: 15px;
    font-weight: 500;
    color: $neutral-600;
    margin-bottom: 15px;
    &:first-child {
        margin-top: 15px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
strong {
    font-weight: 600;
}
label {
    font-size: 14px;
}
.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
// Navbar
.navbar {
    top: 0;
    z-index: 9999;
    padding: 22px;
    position: sticky;
    background-color: $white;
    // Container
    .navbar-container {
        display: flex;
        justify-content: space-between;
    }
    // Main Navbar (left)
    .navbar-main {
        gap: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .navbar-main-logo {

        }
        .navbar-main-search {
            gap: 4px;
            padding: 2px;
            display: flex;
            border-radius: 4px;
            flex-direction: row;
            border: 1px solid $neutral-600;



            .navbar-main-search-dropdown {
                cursor: pointer;
                padding: 8px 16px;
                border-radius: 4px;
                background-color: $purple-700;
                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 100%;
                    gap: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &::after {
                        content: '';
                        width: 12px;
                        height: 12px;
                        display: block;
                        background: url(../../assets/icons/icon-chevron_down__white.svg) no-repeat center center / 12px 12px;
                    }
                }

            }
            .navbar-main-search-input {
                display: flex;
                padding-right: 10px;
                align-items: center;
                justify-content: center;

                &::after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    display: block;
                    background: url(../../assets/icons/icon-search__purple.svg) no-repeat center center / 15px 15px;
                }
                input {
                    border: none;
                }
            }
        }
        .navbar-main-lang {

        }
        // Navbar Menu
        .navbar-main-menu {
            gap: 12px;
            display: flex;
            align-items: center;
            flex-direction: row;
            // Navbar Menu - Item
            .navbar-main-menuItem {
                display: flex;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                padding: 6px 12px;
                border-radius: 4px;
                color: $neutral-600;
                align-items: center;
                justify-content: center;
                &:hover {
                    color: $purple-700;
                }
                span {
                    line-height: 100%;
                    
                }
                // Navbar Menu - Item / Variations
                &.featured {
                    border: 1px solid $purple-700;
                }
                &.dropdown {
                    span {
                        gap: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &::after {
                            content: '';
                            width: 12px;
                            height: 12px;
                            display: block;
                            background: url(../../assets/icons/icon-chevron_down__blue.svg) no-repeat center center / 12px 12px;
                        }
                    }
                    
                }
                // Navbar Menu - Item / States
            }
        }
    }
    // Navbar Extra
    .navbar-extra {
        gap: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        // Navbar Extra Notifications
        .navbar-extra-notification {
            width: 36px;
            height: 36px;
            display: flex;
            cursor: pointer;
            border-radius: 50%;
            position: relative;
            align-items: center;
            justify-content: center;
            border: 1px solid $neutral-100;
            &:hover {
                background-color: #fafafa;
                border: 1px solid $neutral-200;
            }
            .navbar-extra-notification-icon {
                z-index: 0;
                position: relative;
            }
            .navbar-extra-notification-helper {
                right: 0;
                bottom: 0;
                z-index: 5;
                width: 14px;
                height: 14px;
                display: flex;
                border-radius: 50%;
                position: absolute;
                align-items: center;
                justify-content: center;
                background-color: $error;
                color: $white;
                font-size: 10px;
                font-weight: 700;
            }
        }
        // Navbar Extra Menu
        .navbar-extra-menu {
            gap: 4px;
            cursor: pointer;
            display: flex;
            padding: 8px 12px;
            flex-direction: row;
            align-items: center;
            color: $neutral-600;
            font-weight: 500;
            border-radius: 6px;
            border: 1px solid $neutral-100;
            &:hover {
                color: $blue-main;
                background-color: #fafafa;
            }
            .navbar-extra-menu-icon {
                
            }
            .navbar-extra-menu-label {

            }
        }
    }
}
// Main Content
$fullLayoutTime: 0.35s;
.main-content {
    gap: 30px;
    display: grid;
    margin-top: 35px;
    transition: all $fullLayoutTime ease-in;
    grid-template-columns: auto 3fr;
    &.full-layout {
        .user-profile-button-fixed {
            opacity: 1;
            transform: translateX(0);
        }
        .main-content-aside {
            width: 0;
            opacity: 0;
            .main-content-asideWrapper {
                transform: translateX(-100%);
            }
        }
        .main-content-wrapper {
            .deck-card-item {
                width: 25% !important;
            }
        }
    }
}
// Aside
.user-profile-button-fixed {
    left: 0;
    gap: 5px;
    top: 100px;
    z-index: 999;
    display: flex;
    position: fixed;
    cursor: pointer;
    padding: 10px 20px;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    border: 1.75px solid $neutral-100;
    color: $neutral-500;
    // Initial State
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity $fullLayoutTime, transform $fullLayoutTime;
    &:hover:not(:disabled) {
        color: $neutral-700;
        border: 1.75px solid $neutral-300;
    }
}
.main-content-aside {
    width: 320px;
    transition: all $fullLayoutTime ease-in-out;
    .main-content-asideWrapper {
        gap: 20px;
        width: 320px;
        display: flex;
        overflow: hidden;
        flex-direction: column;    
        transition: all $fullLayoutTime ease-in-out;
    }
    // Aside Titles
    h1, .h1 ,h2, .h2 ,h3, .h3 ,h4, .h4 ,h5, .h5, h6, .h6 { 
        margin-top: 0;
        margin-bottom: 0;
    }
    // Aside Card
    .aside-card {
        display: flex;
        overflow: hidden;
        border-radius: 8px;
        flex-direction: column;
        border: 1px solid $neutral-100;
    }
    // Aside / User Profile
    .user-profile {
        padding: 20px 15px;
        background-color: #fafafa;
        .user-profile-infos {
            gap: 15px;
            display: flex;
            justify-content: space-between;
            .user-profile-label {

            }
            .user-profile-infos-points,
            .user-profile-infos-badges {
                gap: 5px;
                display: flex;
                flex-direction: column;
                & > * {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }
                h5 {
                    color: $purple-700;
                }
            }
        }
    }
    // Aside / User Progress
    .user-profile-progress {
        // Aside / User ProgressBar
        .user-profile-progressBar {
            width: 80%;
            max-width: 200px;
            display: flex;
            margin: 10px 0;
            position: relative;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            // Aside / User ProgressBar / Bg
            &::before, &::after {
                height: 4px;
                content: '';
                display: block;
                position: absolute;
                border-radius: 10px;
            }
            &::before {
                width: 100%;
                background-color: $neutral-100;
            }
            &::after {
                width: 33.33%;
                background-color: $blue-main;
            }
            // Aside / User ProgressBar / Item
            .user-profile-progressBar-item {
                width: 12px;
                height: 12px;
                z-index: 10;
                border-radius: 50%;
                position: relative;
                background-color: $blue-main;

            }
        }
        // Aside / User Progress / Title
        .user-profile-progress-name,
        .user-profile-progress-link {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
        .user-profile-progress-name {
            color: $blue-dark;
            font-weight: 600;
        }
        .user-profile-progress-link {

        }
    }
    // User Nav
    .user-nav {
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: $neutral-100;
        .user-nav-item {
            display: flex;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            padding: 10px 18px;
            margin-bottom: 1px;
            align-items: center;
            background-color: #ffffff;
            justify-content: space-between;
            &:last-child {
                margin-bottom: 0px;
            }
            &:hover {
                color: $blue-main;
                background-color: #fafafa;
            }
            .user-nav-item-name {
                gap: 6px;
                display: flex;
                align-items: center;
            }
            .user-nav-item-helper {
                width: 24px;
                height: 24px;
                display: block;
                font-size: 13px;
                font-weight: 600;
                border-radius: 50%;
                line-height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $neutral-50;
                border: 1px solid $neutral-100;
            }
            .user-nav-item-btn {
                width: 32px;
                height: 32px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: $neutral-50;
                border: 1px solid $neutral-100;
                &:hover {
                    color: $blue-main;
                    transform: scale(1.05);
                    background-color: #fff;
                }
            }
        }
    }
    // Aside Undone Mapping
    .undone-mapping {
        gap: 5px;
        display: flex;
        flex-direction: column;
        .undone-mapping-item {
            color: #fff;
            padding: 15px;
            cursor: pointer;
            overflow: hidden;
            border-radius: 6px;
            position: relative;
            &::before {
                left: 0;
                bottom: 0;
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                z-index: 0;
                background: url('../../assets/images/undone-mapping-decoration.svg') left bottom no-repeat;
                background-blend-mode: multiply;
            }
            &::after {
                bottom: 0;
                content: '';
                right: -25px;
                width: 100px;
                height: 100px;
                display: block;
                position: absolute;
                z-index: 0;
            }
            &:nth-child(1)::after { background: url('../../assets/images/undone-mapping-1.svg') left bottom no-repeat; }
            &:nth-child(2)::after { background: url('../../assets/images/undone-mapping-2.svg') left bottom no-repeat; }
            &:nth-child(3)::after { background: url('../../assets/images/undone-mapping-3.svg') left bottom no-repeat; }
            &:nth-child(4)::after { background: url('../../assets/images/undone-mapping-1.svg') left bottom no-repeat; }

            .undone-mapping-item-title,
            .undone-mapping-item-subtitle {
                z-index: 5;
                color: $white;
                position: relative;
            }
            .undone-mapping-item-title {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 5px;
            }
            .undone-mapping-item-subtitle {
                color: $white;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                text-decoration-line: underline;
            }
            &.genius {
                background: linear-gradient(94.25deg, #E34D95 1.14%, #AC2F88 95.78%);
            }
            &.lifestyle {
                background: linear-gradient(94.25deg, #329CC5 1.14%, #205379 95.78%);
            }
            &.chave-mestra {
                background: linear-gradient(94.25deg, #4D80E3 1.14%, #4359C8 95.78%);
            }
            &.ancora-de-carreira {
                background: linear-gradient(94.25deg, #761596 35.15%, #BB1496 95.78%);
            }
        }
    }
    // Aside User Mapping
    .user-mapping {
        padding: 15px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        .user-mapping-list {
            gap: 10px;
            display: flex;
            flex-direction: row;
            .user-mapping-item {
                gap: 4px;
                display: flex;
                align-items: center;
                flex-direction: row;
                .user-mapping-item-image {
                    width: 30px;
                    height: 30px;
                }
                .user-mapping-title {
                    font-size: 15px;
                    font-weight: 600;
                    color: $neutral-600;
                }
            }
        }
    }
    .aside-card-partners {
        gap: 10px;
        padding: 20px;
        background-color: $white;
        .partners-slider {

        }
        .partners-slide {
            height: 160px;
        }

    }
}
// Main Content
.main-content-wrapper {    
    gap: 30px; 
    display: flex;
    flex-direction: column;
    transition: all $fullLayoutTime ease-in;
    // Main Content / Banner
    .home-banner {
        .home-banner-image {
            
        }
    }
    // Main Content / Featured Cards
    .featured-cards {
        gap: 15px;
        display: flex;
        .featured-cards-item {
            gap: 30px 10px;
            width: 33.33%;
            padding: 15px;
            display: flex;
            overflow: hidden;
            position: relative;
            border-radius: 10px;
            flex-direction: column;
            justify-content: center;
            background-color: $white;
            border: 1px solid $neutral-100;
            .featured-cards-item-image {
                top: 25px;
                right: 0;
                z-index: 0;
                position: absolute;
                transform: translateX(25%);
            }
            .featured-cards-item-content {
                z-index: 5;
                gap: 15px;
                width: 90%;
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: flex-start;
                & * {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }
                .featured-cards-item-label {
                    color: $neutral-300;
                }
                .featured-cards-item-heading {
                    gap: 5px;
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .featured-cards-item-title {
                        font-size: 50px;
                        font-weight: 700;
                        font-weight: 800;
                        display: inline-block;
                        background: linear-gradient(90deg, #5E32BA 0.52%, #1B89B4 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                    .featured-cards-item-subtitle {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: $neutral-500;
                    }
                }
            }
        }
    }

    // Main Content / Cards / Subscriptions
    .deck-card {
        overflow: hidden;
        border-radius: 12px;
        border: 1px solid $neutral-100;

        // Aside Titles
        h1, .h1 ,h2, .h2 ,h3, .h3 ,h4, .h4 ,h5, .h5, h6, .h6 { 
            margin-top: 0;
            margin-bottom: 0;
        }
        .deck-card-header {
            display: flex;
            padding: 20px;
            color: $white;
            align-items: center;
            justify-content: space-between;
            .deck-card-header-main {
                gap: 8px;
                display: flex;
                align-items: center;
                .deck-card-header-icon {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    background-color: $white;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
                .deck-card-header-title {
                    gap: 8px;
                    display: flex;
                    color: $white;
                    font-size: 20px;
                    font-weight: 400;
                    align-items: center;
                    .deck-card-header-helper {
                        width: 30px;
                        height: 30px;
                        display: block;
                        font-size: 13px;
                        font-weight: 500;
                        border-radius: 50%;
                        line-height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid $white;
                    }
                }
            }
            .btn-outlined {
                color: $white;
                border-color: $white;
                &:hover {
                    color: $white;
                    border-color: $white;
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
        .deck-card-body {
            padding: 15px;
            background-color: $neutral-50;
            .deck-card-list {
                gap: 15px;
                display: flex;
                .deck-card-item {
                    gap: 10px;
                    width: 33.33%;
                    padding: 10px;
                    display: flex;
                    border-radius: 10px;
                    flex-direction: column;
                    background-color: $white;
                    border: 1px solid $neutral-100;
                    transition: width $fullLayoutTime ease-in;
                    // States
                    &.error {
                        --cardStateColor: #{$error};
                    }
                    &.danger {
                        --cardStateColor: #{$danger};
                    }
                    &.success {
                        --cardStateColor: #{$success};
                        .deck-card-itemAlarm::after {animation: none;} 
                    }
                    // Item Content Areas
                    .deck-card-item-main {
                        gap: 10px;
                        display: flex;
                    }
                    .deck-card-item-mid {
                        gap: 10px;
                        display: flex;
                        flex-direction: column;
                    }
                    // Item Content Pieces
                    // Item Content Pieces / Alarm
                    .deck-card-itemAlarm {
                        z-index: 5;
                        padding: 4px;
                        float: right;
                        color: $white;
                        font-size: 12px;
                        border-radius: 4px;
                        position: relative;
                        background-color: $cardStateColor;
                        &::after {
                            z-index: -1;
                            content: '';
                            opacity: 0.6;
                            display: block;
                            border-radius: 4px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: $cardStateColor;
                            animation: alarmPulse 0.8s infinite;
                            box-shadow: 0px 0px 4px -2px $cardStateColor;
                        }
                    }
                    // Item Content Pieces / Heading
                    .deck-card-itemHeading {
                    }
                    .deck-card-itemTitle {
                        font-size: 18px;
                        font-weight: 600;
                        color: $blue-main;
                    }
                    // Item Content Pieces / Logo
                    .deck-card-itemLogo {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        border: 3px solid $neutral-100;
                    }
                    // Item Content Pieces / Info
                    .deck-card-item-info {
                        gap: 8px;
                        flex-wrap: wrap;
                        display: inline-flex;
                        .deck-card-item-infoItem {
                            gap: 2px;
                            display: flex;
                            align-items: center;
                            white-space: nowrap;
                        }
                    }
                    // Item Content Pieces / Match
                    .deck-card-item-match {
                        gap: 5px;
                        display: flex;
                        padding: 4px 6px;
                        border-radius: 6px;
                        align-items: center;
                        align-self: flex-start;
                        background-color: #fafafa;
                        border: 1px solid $neutral-50;
                        .deck-card-item-matchIcon {
                            width: 30px;
                        }
                        .deck-card-item-matchText {
                            font-weight: 500;
                            color: $neutral-700;
                        }
                    }
                    // Item Content Pieces / Progress
                    .deck-card-item-progress {
                        gap: 5px;
                        display: flex;
                        align-items: center;
                        
                        .deck-card-item-progressLabel {
                            // width: 100%;
                            font-weight: 500;
                            color: $cardStateColor;
                        }
                        .deck-card-item-progressBar {
                            width: 100%;
                            height: 4px;
                            display: flex;
                            margin: 10px 0;
                            position: relative;

                            // Aside / User ProgressBar / Bg
                            &::before, &::after {
                                height: 4px;
                                content: '';
                                display: block;
                                position: absolute;
                                border-radius: 10px;
                            }
                            &::before {
                                width: 100%;
                                background-color: $neutral-100;
                            }
                            &::after {
                                width: 33.33%;
                                background-color: $cardStateColor;
                           }
                        }
                    }
                }
            }
        }
        &:nth-child(odd) .deck-card-header { background: $gradient-blue;}
        &:nth-child(even) .deck-card-header  { background: $gradient-purple;}
    }   
}
// Btn - Group Buttons
.btn-group {
    gap: 10px;
    display: flex;
    flex-direction: column;
    &.btn-group-inline {
        flex-direction: row;    
    }
}
// Btn - Buttons
.btn {
    gap: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 100%;
    // Default
    gap: 8px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 6px;
    // Size
    &-sm {
        gap: 4px;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 13px;
        .btn-nav {
            width: 16px;
        }
    }
    &-md {
        gap: 8px;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 18px;
        border-radius: 6px;
    }
    
    &-lg {
        font-size: 16px;
        font-weight: 500;
        padding: 14px 26px;
        border-radius: 8px;
    }
    // Fluid
    &.btn-fluid {
        width: 100%;
    }
    // Style
    &.btn-primary {
        border: none;
        color: $white;
        background: $gradient-blue;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        transition: transform 0.15s, filter 0.15s;
        &:hover:not(:disabled) {
            filter: contrast(1.15);
            transform: scale(1.05);
        }
    }
    &.btn-outlined {
        color: $neutral-500;
        background-color: transparent;
        border: 1.75px solid $neutral-100;
        &:hover:not(:disabled) {
            color: $neutral-700;
            border: 1.75px solid $neutral-300;
        }
    }
    &.btn-outlined-white {
        color: $neutral-500;
        background-color: white;
        border: 1.75px solid $neutral-100;
        &:hover:not(:disabled) {
            color: $neutral-700;
            border: 1.75px solid $neutral-300;
        }
    }
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
// Home Banner
.home-banner {
    width: 100%;
    aspect-ratio: 5 / 1;
    .home-banner-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}
// Animations
@keyframes alarmPulse {
    0% {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    50% {
        top: $alarmPulse__size;
        left: $alarmPulse__size;
        right: $alarmPulse__size;
        bottom: $alarmPulse__size;        
    }
    100% {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
}